/*
1- Navbar Style
2- Navbar Style Logo 
 3- Navbar Style Input Search 
 4- Navbar Style Nav Item 

*/

// 1- Navbar Style
    .navbar.navbar-expand-lg {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 0px;
        gap: 24px;
        width: 100%;
        min-height: 152px;
        max-height: auto;
        left: 0px;
        top: 0px;
        background: var(--blue-color);
        box-shadow: 0px 4px 16px rgba(4, 6, 26, 0.06), 0px 4px 8px rgba(4, 6, 26, 0.02), 0px 2px 4px rgba(4, 6, 26, 0.02);
    
          // 2- Navbar Style Logo 
          .navbar-brand {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .logo {
                width: 75px;
                height: 76px;
            }
        }
        .navbar-collapse {
            // 3- Navbar Style Input Search 
            form.input-group {
                height: 43px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 0px 4px rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                width: 400px;
                .btn {
                    background-color: var(--white-color);
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    img {
                        width: 18px;
                        height: 20px;
                    }
                }
    
                input {
                    &::placeholder {
                        font-size: 14px;
                    }
                }
            }
            // 4- Navbar Style Nav Item 
            .nav-item {
                color: var(--white-color);
                a {
                    width: 100%;
                    color: var(--white-color);
                    font-weight: 600;
                    font-size: 14px;
                    &:hover {
                        color: var(--white-color) !important;
                    }
                }
            }
            .account {
                img {
                    width: 26px;
                    height: 26px;
                }
            }
            .guesses {
                position: relative;
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        /// button show navbar
        .navbar-toggler {
            &:focus {box-shadow: none;}
            .close {
                display: block;
                font-weight: 600;
            }
            .navbar-toggler-icon { display: none;}
        }
    
        .navbar-toggler.collapsed {
            .close { display: none;}
            .navbar-toggler-icon {display: block;}
        }
    
        .navbar-toggler {
            border-color: var(--white-color);
            .navbar-toggler-icon{
                
                filter: invert(92%) sepia(100%) saturate(6966%) hue-rotate(181deg) brightness(117%) contrast(101%);
            }
            .close {
                filter: invert(92%) sepia(100%) saturate(6966%) hue-rotate(181deg) brightness(117%) contrast(101%);
            }
        }
    }



.en {
    .navbar-expand-lg {
        font-family: var(--font-en);
        .navbar-collapse {
            form.input-group {
                font-family: var(--font-en);
            }

            .nav-item {
                a {
                    font-family: var(--font-en);
                }
            }
        }
    }

}
// Style Navbar Component To Media Queris Samll.
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-expand-lg {
        .navbar-collapse {
            justify-content: space-between;

            form.input-group {
                width: 300px;
            }

        }
    }
}
// Style Navbar Component To Media Queris Samll.
@media screen and (min-width: 992px) {
    .navbar-expand-lg {
        .navbar-collapse {
            justify-content: space-between;

            form.input-group {
                .btn {
                    background-color: var(--white-color);
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                }
            }

            .nav-item {
                a {
                    padding: 5px 20px;
                }
            }

            .account {
                a {
                    padding: 0px 5px;
                    font-size: 12px;
                }
            }

            .guesses {
                padding: 0px 20px;

                span.guesses_number {
                    font-size: 12px;
                    font-weight: 600;
                    color: var(--orangeligh-two-color);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: white;
                    display: inline-block;
                    text-align: center;
                    line-height: 20px;
                    position: absolute;
                    top: -25%;
                    right: 17%;

                }

                span.guesses_text {
                    display: none;
                }
            }
        }
    }
}
// Style Navbar Component To Media Queris Samll.
@media screen and (max-width: 992px) {
    .navbar-expand-lg {
        .navbar-brand {
            justify-content: flex-start;
        }

        .navbar-collapse {
            padding: 10px 20px;

            form.input-group {
                height: 43px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4), 0px 0px 4px rgba(0, 0, 0, 0.4);
                border-radius: 5px;
                width: 100%;

                .btn {
                    background-color: var(--white-color);
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                }
            }

            .nav-item {
                color: var(--white-color);
                padding: 10px 5px;

                a {
                    display: block;
                    width: 100%;

                    &:hover {
                        color: var(--white-color) !important;
                    }
                }
            }

            .account {
                padding: 10px 5px;

                a {
                    display: inline-block;
                    width: auto;
                    margin: 0px 10px;

                }
            }

            .guesses {
                padding: 10px 5px;

                span {
                    font-weight: 600;
                    font-size: 14px;
                    margin: 0px 5px;
                }
            }
        }
    }
}

// Style Navbar Component To Media Queris Samll.
//@media screen and (max-width: 576px) {}