@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 
    A- Variables Styles .
    B- Style Genaral Classes .
    E- Import Style Components .
      E-1- Import Style Navbar Component .
      E-2- Import Style About Us Page .
      E-3- Import Style Home Page .
      E-4- Import Style Footer Component .
      E-5- Import Style Projects Component .
      E-6- Import Style Project Component .
 */
/*

$primary-color: #072d4d;
$secondary-color: #f69c22;
$white-color: #ffffff;
$black-color: #000000;
$backgroundtwo: #eaeaea;
$red-color: red;
$green-color: #008f34;
$font14: 14px;
$font12: 12px;
$font18: 18px;
*/
// A- Variables Styles
// Palette Color
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*
1- Variables Styles .
2- Style Genaral Classes && Elments .
3- Import Style Pages .
// ========== Media Queris ============= //
*/

// 1- Variables Styles 
:root {
  --white-color: #ffffff;
  --black-color: #000000;
  // Primary Colors
  --orangeligh-one-color: #FE8D2A;
  --orangeligh-two-color: #F48320;
  --orangeligh-three-color: rgba(244, 131, 32, 0.08);
  --blue-color:#152248;
  --grey-one-color: #353A49;
  --grey-two-color: #505976;
  --grey-three-color: #8A90A3;
  --grey-four-color: rgba(21, 34, 72, 0.25);
  --grey-five-color:rgba(21, 34, 72, 0.08);
  --grey-six-color:#D9D9D9;
  //Secondary colors
  --secondary-one-color: #E9B736;
  --secondary-two-color: #C82C2C;
  --secondary-three-color: #FFCD4E;
  --secondary-four-color: #489E56;
  // Font Family
  --font-en: 'Inter', sans-serif;
  --font-ar: 'Cairo', sans-serif;
  // Font Size
  --font-heading-size: 40px;
  --font-title-size: 24px;
  --font-paragraphone-size: 24px;
  --font-paragraphtwo-size: 16px;
}
// 2- Style Genaral Classes && Elments.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus-visible {outline: none !important;}
}
a {
  text-decoration: none !important;
  &:hover{
    color: #000 !important;
  }
}
body {
  user-select: none;
  color: var(--black-color);
  background-color: #FBFBFB;
}
ul {
  margin: 0;
  padding: 0;
  li {list-style-type: none;}
}
img {max-width: 100%;}
.clearfix {clear: both;}
.row {
  padding: 0 !important;
  margin: 0 !important;
}
.btn {
  &:focus {
    box-shadow: none;
    border-color: transparent;
  }
}
.form-control {&:focus {box-shadow: none;}}
input{&::placeholder {  color: #a5a5ac;}}
.hide {display: none;}
.show {display: block;}
.mb_20 {margin-bottom: 20px;}
.errorfiled {
  color: red;
  font-size: 12px;
  a{
    font-weight: bold;
  }
}
.form-label {margin-bottom: 0.2rem;}
.is-invalid {border-color: #dc3545 !important;}
input[type=radio] {
  appearance: none;
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 2px;
  display: inline-grid;
  place-content: center; 
  &::before{
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transform-origin: bottom left;
    background-color: #fff;
    clip-path: polygon(13% 50%, 34% 66%, 81% 2%, 100% 18%, 39% 100%, 0 71%);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
  &:checked{
    background-color:#e9d173;
    border: 2px solid#e9d173;
    &::before{
      transform: scale(1);
    }
  }
}
.btn{
  &:active{
    border-color: transparent;
  }
}
.button-active{pointer-events: auto;}
.button-disabled{
  pointer-events: none;
  opacity: 0.51;
 }
 .form-select{
  &:focus {
    border-color: #ddd;
    box-shadow: none;
  }
 }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
  appearance: textfield;
    -moz-appearance:textfield;
}

.btn{
  &:active{
    border: none !important;
    box-shadow: none !important;
  }
}

.en {
  *{
    font-family: var( --font-en) !important;
  }
}

.ar {
  *{
    font-family: var(--font-ar) !important;
  }
}
// E- Import Style Components .

// E-1- Import Style Navbar Component .
@import "./compunent/_navbar.scss";
@import "./compunent/_home.scss";
@import "./compunent/_gusesses.scss";
@import "./compunent/_leaderboard.scss";
@import "./compunent/_timer.scss";
@import "./compunent/_match.scss";